text {
    font-family: 'Lobster', cursive;
    animation: text 5s infinite ease-in-out;
}


@keyframes text {
    0% {
        transform: scaleX(0);
        transform: skew(328deg, 10deg);
    }

    10% {
        transform: scaleX(1.5);
    }

    20% {
        transform: scaleX(1);
        transform: skew(-328deg, -10deg);
    }

    50% {
        transform: scaleX(0);
        transform: skew(328deg, 10deg);
    }

}